@import '~bpk-mixins';

.Parent {
  height: auto;
  border-radius: $bpk-border-radius-sm !important;
  padding: 1rem;
  margin-bottom: 1rem;

  @include bpk-card;

  &__top-row {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
  }

  &__middle-row {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-row {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
  }
}

.Button {
  @include bpk-button;
  height: $bpk-button-height;
  border-radius: 0.3rem;
}

.Logo {
  display: flex;
  justify-content: center;

  &__airline-image {
    height: 2.5rem;
    margin-right: .25rem;
    vertical-align: top;
  }
}

.Leg1-start {
  display: flex;
}

.Agent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.Total {
  display: flex;
  width: 97px;
  height: 42px;
  text-align: end;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.Time {
  color: black;
  font-weight: bold;
}

.Airport {
  color: grey;
  font-weight: bolder;
}
